.step.configuration.lexi
  .wrapper
    .option.redundant
      .icon(data-id="cluster")
        img.shadow-icon(data-src="#{redundantIcon}")
        .check-icon
          img.shadow-icon(data-src="split-check")
      .title=redundantTitle
      .blurb=redundantBlurb

    .option.bunkhouse
      .icon(data-id="bunkhouse")
        img.shadow-icon(data-src="#{singleIcon}")
        .check-icon
          img.shadow-icon(data-src="split-check")    
      .title=singleTitle
      .blurb=singleBlurb
      if 0 == 0
        .radios.inactive
          ul
            if isData
              li
                label
                  input(type="radio" name="bunkhaus" value="new-single" checked="checked") 
                  .txt New Single-Component Host
            li
              label
                input(type="radio" name="bunkhaus" value="new-multi") 
                .txt New Multi-component Host
            if showBunkhouseSelector
              li
                label
                  input(type="radio" name="bunkhaus" value="existing") 
                  .txt Existing Host
                select#bunkhaus-picker
                  each haus in bunkHouses
                    if haus.current
                      option(value="#{haus.id}" disabled) #{haus.name} (Current)
                    else
                      option(value="#{haus.id}")=haus.name
            
