.step.configuration
  .wrapper
    .option.picked
      .icon(data-id="redundant")
        img.shadow-icon(data-src="#{redundantIcon}")
        .check-icon
          img.shadow-icon(data-src="check")
      .title=redundantTitle
      .blurb=redundantBlurb

    .option
      .icon(data-id="single")
        img.shadow-icon(data-src="#{singleIcon}")
        .check-icon
          img.shadow-icon(data-src="check")    
      .title=singleTitle
      .blurb=singleBlurb
      
