.step.summary
  .wrapper
    .hosts
      each member, key in members
        .host
          .icon
            img.shadow-icon(data-src="#{member.icon}")
            .txt=key
          .details
            .title AWS Instance Specs
            .specs
              .spec #{member.planData.RAM} GB RAM
              .spec #{member.planData.CPU} CPU CORE
              .spec #{member.planData.DISK} GB SSD DISK
              .spec $#{member.planData.dollarsPerHr}/hr
          if isHorizontalRedund
            .total-instances
              img.shadow-icon(data-src="instance-multiply")
              .total= member.totalInstances
